/*
1.posicionamiento
2.modelo de caja (box model)
3.tipografia
4.visuales
5.otros
*/
:root {
    /* colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --off-white: #FAF8F7;
    --just-white: #fff
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}